<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>HN Feed by Fabiana Graterol</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>We &lt;3 Hacker News</span>
      </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let new of _news" class="mt">
  <mat-card-title>{{ new.title }}</mat-card-title>
  <mat-card-subtitle>{{ new.autor }} || {{ new.created_at }} </mat-card-subtitle>
  <a href="{{ new.url }}" class="mt-link" target="_blank"> Read More</a>
  <br>
  <mat-icon (click)="deleteNew(new._id)">delete_sweep</mat-icon>
</mat-card>
